.env
Stock Price Prediction/model_prep/data/cleaned_data.csv
Fraud_Detection_System/data/output.jsonl
Fraud_Detection_System/data/model_data.csv
model_monitering/data/Loan_approval_data_2025.csv
Trading/data/BTC-USD.parquet
Predictive_Logistics_Control/backend/models/m5_clean_daily.parquet
Predictive_Logistics_Control/backend/models/m5_clean_daily2.parquet
Predictive_Logistics_Control/backend/models/exp_model.joblib
contract_ananlysis/support_docs/prompt.txt
contract_ananlysis/core_files/__pycache__
FUCK_this/backend/venv
C:\Users\ASUS\OneDrive\Desktop\code\serious_projects\node_modules
